@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 262 84% 60%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
 
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 262 84% 60%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 228 9% 19%; /* Dark gray - desaturated primary */
    --foreground: 0 0% 98%; /* White */

    --card: 228 9% 22%;
    --card-foreground: 0 0% 98%;
 
    --popover: 228 9% 15%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 257 100% 64%; /* Soft violet - primary */
    --primary-foreground: 0 0% 98%;
 
    --secondary: 228 9% 25%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 228 9% 25%;
    --muted-foreground: 0 0% 60%;
 
    --accent: 257 100% 75%; /* Soft purple - accent */
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;

    --border: 228 9% 25%;
    --input: 228 9% 25%;
    --ring: 257 100% 64%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Custom styles for Google Maps Autocomplete */
.pac-container {
  @apply rounded-md border-border bg-popover text-popover-foreground shadow-md;
  z-index: 1000 !important; /* Ensure it appears above other elements */
}

.pac-item {
  @apply cursor-pointer px-4 py-2 text-sm text-popover-foreground;
}

.pac-item:hover {
  @apply bg-accent text-accent-foreground;
}

.pac-item-query {
  @apply font-bold;
}

.pac-icon {
  @apply mr-2;
}

.pac-logo:after {
  @apply bg-popover p-2;
}
